html {
  scroll-behavior: smooth;
}

.App {
  font-family: "Matchbox-Lettre";
}

@media (min-width: 600px) {
  .App {
    width: 100vw;
  }

  .App .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.App img {
  -webkit-user-drag: none;
}
