@font-face {
  font-family: "Matchbox-Lettre";
  src: local("Matchbox-Lettre"),
    url("./assets/fonts/Matchbox-Lettre.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Della-Robia";
  src: local("Della-Robia"),
    url("./assets/fonts/Della-Robia.ttf") format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid limegreen;
}

#root {
  font-family: "Matchbox-Lettre", "Della-Robia";
}
