html {
  scroll-behavior: smooth;
}

.App {
  font-family: 'Matchbox-Lettre';
  width: 100vw;
}

.App .wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


