.basket-list {
  font-family: 'Della-Robia';
  color: #D20F3E;
  padding: 1rem
}

.basket-list .empty-basket {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.basket-list .your-basket {
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: 'Matchbox-Lettre';
  font-size: 1.2rem;
}

.basket-list ul {
  list-style-type: none;
  border-bottom: 1px dotted #D20F3E;
  padding-bottom: 1.5rem;
}

.basket-list .close-icon-wrapper {
  text-align: right;
  color: #D20F3E;
  padding: 10px ;
}

.basket-list .basket-item {
  display:  grid;
  grid-template-columns: 1.4fr 1fr;
}

.basket-list .total {
  font-size: 1.3rem;
}

.basket-list .quantity {
  width: 2rem;
  background-color: transparent;
  text-align: right;
  font-family: 'Della-Robia';
  border: none;
  border-bottom: 1px dotted #545454;
  color: #D20F3E;
  font-size: 1.3rem;
}
.basket-list .quantity:focus {
  outline: none;
  border: 1px solid #D20F3E;
}
.basket-list .quantity[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  background-image: url('../assets/arrows.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor:pointer;
  display:block;
  width:8px;
  text-align:center;
  position:relative;
  margin-left: 5px;
}

.basket-list .remove-btn {
  margin-left: 10px;
  background-color: #D20F3E;
  padding: 5px;
  font-size: 0.7rem;
  font-family: 'Della-Robia';
  color: #FFFAF0;
  border-radius: 1rem;
  border: none;
}

.basket-list .form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  padding-left: 1rem;
}

.basket-list .headers {
  display: grid;
  grid-template-columns: 1.5fr 0.8fr 0.5fr 1fr;
  margin-bottom: 1rem;
}

.basket-list .header-item {
  text-align: center;
  padding-left: 10px;
}

.basket-list .header-price {
  text-align: center;
  padding-right: 1rem;
}

.basket-list .header-total {
  padding-left: 0.5rem;
}

.basket-list .basket-total {
  display: grid;
  grid-template-columns: 2.1fr 0.5fr 1fr;
  margin-top: 2rem;
  padding-left: 1rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}

.basket-list .basket-total h5 {
  font-family: 'Matchbox-Lettre';
  font-size: 1rem;
}

.basket-list .total-quantity {
  text-align: center;
}

.basket-list .total-amount {
  text-align: left;
  padding-left: 1rem;
}

.basket-list .checkout-basket {
  align-items: center;
  text-align: center;
}

.basket-list .checkout-basket p {
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.basket-list .checkout-btn {
  background-color: #D20F3E;
  color: #FFFAF0;
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  font-family: 'Della-Robia';
  text-decoration: none;
}

