.pastry-item {
    font-family: 'Della-Robia';
    color: #D20F3E;
}

.pastry-item .pastry {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
}

.pastry-item img {
    width: 60px;
}

.pastry-item .pastry-price {
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: center;
    align-items: center;
}

.pastry-item .pastry-price span {
    text-align: right;
    font-size: 0.8rem;
}