.payment-success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FFC5E8;
  background-image: url('../assets/noise.png');
  font-family: 'Della-Robia';
  text-align: center;
  height: 100vh;
  color: #D20F3E;
}

.payment-success img {
  width: 150px;
  margin-top: 2rem;
}

.payment-success p {
  margin-top: 0.5rem;
}