.message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FFC5E8;
  background-image: url('../assets/noise.png');
  font-family: 'Della-Robia';
  text-align: center;
  height: 100vh;
  color: #D20F3E;
  font-size: 14px;
}

.payment img {
  width: 150px;
}

.payment p {
  margin-top: 5px;
}