.homepage {
  background-color: #ffc5e8;
  background-image: url("../assets/noise.png");
  font-family: "Della-Robia";
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.homepage .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -3rem;
}

.homepage .center img {
  width: 10rem;
  z-index: 99;
}

.homepage .left,
.homepage .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage .right {
  margin-left: -3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage .left img {
  display: flex;
}

.homepage .right img {
  display: flex;
}

.homepage .whiskCream {
  width: 8rem;
  margin-left: -4rem;
  margin-top: 1rem;
}

.homepage .spatulaAndBowl {
  margin-top: -2rem;
  margin-left: -3rem;
  width: 9rem;
}

.homepage .spoon {
  margin-left: -4rem;
  width: 5rem;
}

.homepage .leftPin {
  width: 9rem;
  margin-top: -2rem;
  margin-left: -3rem;
}

.homepage .mitten {
  width: 8rem;
}

.homepage .box {
  width: 4rem;
  margin-right: -2rem;
  margin-top: -2rem;
}

.homepage .whiskPin {
  width: 8rem;
  margin-left: -1rem;
}

.homepage .bowl {
  width: 8rem;
  margin-top: -3rem;
}

.homepage .store-hours {
  font-size: 0.5rem;
  color: #d20f3e;
  font-family: "Matchbox-Lettre";
  margin: 2rem 1rem;
}

@media (min-width: 600px) {
  .homepage {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100vh;
  }

  .homepage .center {
    text-align: center;
  }

  .homepage .right {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-items: flex-end;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  .homepage .left {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-items: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .homepage .center img {
    width: 45rem;
  }

  .homepage .left img {
    display: flex;
  }

  .homepage .right img {
    display: flex;
  }

  .homepage .whiskCream {
    width: 19rem;
    margin-top: 0;
    margin-left: 0;
  }

  .homepage .spatulaAndBowl {
    margin-top: -9rem;
    margin-left: 0;
    width: 19rem;
  }

  .homepage .spoon {
    width: 10rem;
    margin-top: -2rem;
    margin-left: 0;
  }

  .homepage .leftPin {
    width: 19rem;
    margin-top: -8.5rem;
    margin-left: 0;
  }

  .homepage .mitten {
    width: 19rem;
  }

  .homepage .box {
    width: 8rem;
    margin-right: 8rem;
    margin-top: -7rem;
  }

  .homepage .whiskPin {
    width: 19rem;
    margin-top: -7rem;
  }

  .homepage .bowl {
    width: 19rem;
    margin-top: -50px;
  }

  .homepage .store-hours {
    font-size: 1rem;
    color: #d20f3e;
    font-family: "Matchbox-Lettre";
    margin: 0 1rem;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in1 {
  animation: slideIn 1200ms ease;
}

.slide-in2 {
  animation: slideIn 500ms ease;
}

.slide-in3 {
  animation: slideIn 1700ms ease;
}

@keyframes slideOut {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-out1 {
  animation: slideOut 1200ms ease;
}
.slide-out2 {
  animation: slideOut 800ms ease;
}
.slide-out3 {
  animation: slideOut 1000ms ease;
}
