.pastry-item .pastry {
  font-family: "Della-Robia";
  color: #d20f3e;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.pastry-item .link {
  color: #d20f3e;
  text-decoration: none;
  font-size: 1rem;
}

.pastry-item .pastry-price {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.pastry-item .pastry-price span {
  margin-left: 1rem;
}

@media (min-width: 600px) {
  .pastry-item .pastry {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
  }

  .pastry-item .link {
    /* color: #d20f3e;
    text-decoration: none; */
    font-size: 1.5rem;
  }

  .pastry-item .pastry-price {
    /* display: grid; */
    grid-template-columns: 4fr 1fr;
    /* /* justify-content: center;
    align-items: center; */
    margin-top: 0px;
  }

  .pastry-item .pastry-price span {
    text-align: right;
  }
}
